@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.bg-image-main {
  background-image: url('assets/seusslonely.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.bigtext{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style:normal;
  font-size: 8rem;
}

body{
   font-family: "Libre Baskerville", serif;
}

.mainfont{
}
.navbar {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
}

.hline{
  height:3px;
  background-color: white;
}

/* Smooth out fade */

#main-image{
  transition: opacity 0.3s ease;
}